autopep8==1.4.4
beautifulsoup4==4.7.1
dnspython==1.16.0
Flask==1.0.3
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
gunicorn==19.9.0
lxml==4.3.4
mongo==0.2.0
mongoengine==0.18.2
pymongo==3.8.0
requests==2.22.0
sentry-sdk==0.10.2
Unidecode==1.1.1
urllib3==1.25.3
